{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <!-- Meta Robort -->
        <meta name=”robots” content="index, follow">
   
        <!-- Meta View -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
       <!-- Favicons --> 
  <meta name="msapplication-TileColor" content="#FFF" />
  <meta name="theme-color" content="#FFF" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}" />
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-icon-76x76.png' %}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/android-icon-36x36.png' %}" sizes="36x36" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/android-icon-48x48.png' %}" sizes="48x48" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/android-icon-72x72.png' %}" sizes="72x72" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/android-icon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/android-icon-144x144.png' %}" sizes="144x144" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/android-icon-192x192.png" sizes="192x192" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" />
  <meta name="msapplication-TileImage" content="{% static 'img/favicons/ms-icon-144x144.png' %}" />
  <meta name="msapplication-square70x70logo" content="{% static 'img/favicons/ms-icon-70x70.png' %}" />
  <meta name="msapplication-square150x150logo" content="{% static 'img/favicons/ms-icon-150x150.png' %}" />
  <meta name="msapplication-wide310x150logo" content="{% static 'img/favicons/ms-icon-310x150.png' %}" />
  <meta name="msapplication-square310x310logo" content="{% static 'img/favicons/ms-icon-310x310.png' %}" />
  <link href="{% static 'img/favicons/apple-startup-320x460.png' %}" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-640x920.png' %}" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-640x1096.png' %}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-748x1024.png' %}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-750x1024.png' %}" media="" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-750x1294.png' %}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-768x1004.png' %}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-1182x2208.png' %}" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-1242x2148.png' %}" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-1496x2048.png' %}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" rel="apple-touch-startup-image" />
  <link href="{% static 'img/favicons/apple-startup-1536x2008.png' %}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" rel="apple-touch-startup-image" />
  <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}" />
       
        <!-- Primary Meta Tags -->
        <title>Julius Bright</title>
        <meta name="title" content="Julius Bright">
        <meta name="revisit-after" content="3 days">
        <meta name="description" content="Full-stack Developer, Software Engineer, Award-Nominated(2020) and Founder of Bright-Group.
    Looking for Developer?. Get Impressed.!!">
    
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://juliusbright.com/">
        <meta property="og:title" content="Julius Bright">
        <meta property="og:description" content="Full-stack Developer, Software Engineer, Award-Nominated(2020) and Founder of Bright-Group.
        Looking for Developer?. Get Impressed.!!">
        <meta property="og:image" content="">
    
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://juliusbright.com/">
        <meta property="twitter:title" content="JuliusFull-stack Developer, Software Engineer, Award-Nominated(2020) and Founder of Bright-Group.
        Looking for Developer?. Get Impressed.!!!">
        <meta property="twitter:image" content="">
        <meta name="Author" content="Julius Bright">
        <!-- I LEFT THIS FOR DEVELOPERS
                  VISIT HERE:#################
                  FOR COLLAB,EDUCATION & OLD TIME COMPETITION.
                  @crack the code to get our attetion.
        -->
        <link rel='stylesheet preload ' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
        <link rel="stylesheet preload" href="{% static 'css/main.css'%}">
        <link rel="stylesheet preload" href="{% static 'js/main.js'%}">      
   </head>
   <!-- onmousedown = 'return false' -->
   <body  onselectstart = 'return false' >
       <section class="header">
        <div class="box1">
            <div class="AC_tx">
                <h1><img class="AC_tx" src="{% static 'img/Logo.GIF' %}"></h1>
            </div>
        </div>
        <div class="nav-but-wrap ">
          <div class="m_button">
            <span class="menu-icon__line menu-icon__line-left "></span>
            <span class="menu-icon__line  "></span>
            <span class="menu-icon__line menu-icon__line-right "></span>
          </div>
          
          <!-- <div class="menu-icon hover-target ">
              <span class="menu-icon__line menu-icon__line-left "></span>
              <span class="menu-icon__line "></span>
              <span class="menu-icon__line menu-icon__line-right "></span>
          </div> -->
      </div>
  </div>

      </section>

    
      <!-- <div data-poster-url="https://assets.website-files.com/5f69b9b3fd92fb30908b5c93/5f75e11437019e5e50170a41_video_2-poster-00001.jpg" data-video-urls="https://assets.website-files.com/5f69b9b3fd92fb30908b5c93/5f75e11437019e5e50170a41_video_2-transcode.mp4,https://assets.website-files.com/5f69b9b3fd92fb30908b5c93/5f75e11437019e5e50170a41_video_2-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video w-background-video w-background-video-atom"><video autoplay="" loop="" style="background-image:url(5f75e11437019e5e50170a41_video_2-poster-00001.html)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://assets.website-files.com/5f69b9b3fd92fb30908b5c93/5f75e11437019e5e50170a41_video_2-transcode.mp4" data-wf-ignore="true"><source src="https://assets.website-files.com/5f69b9b3fd92fb30908b5c93/5f75e11437019e5e50170a41_video_2-transcode.webm" data-wf-ignore="true"></video></div>
      <<section > 
        <div class="searchbx">
          <div class="field">
            <span class="fas fa-search" aria-hidden="true"></span>
            <input type="search" placeholder="search">
          </div>
        </div>
  </div> 
  </section> -->
  <section class="searchbx">
    <div class="box1">
      <div class="AC_tx">
          <h1>Site under construction </h1>

      <div class="NextpsBt">
        
        <button class="NPB">View old site <a href=""><i class="fas fa-angle-right"></i></a> </button>
    </div>
  </div>
  </div>
  </section>
 

     <footer class="footer">
      <div class="wrapper">
        <div class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook"></i></span>
        </div>
        <div class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </div>
        <div class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </div>
        <div class="icon github">
          <div class="tooltip">Github</div>
          <span><i class="fab fa-github"></i></span>
        </div>
        <div class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </div>
      </div>
     </footer>
<!--     
           
        
    
      
    
    
    
    
        <div class="box1">
            <div class="NextpsBt">
                <button class="NPB"><i class="fas fa-angle-left"></i></button>
                <button class="NPB"><i class="fas fa-angle-right"></i></button>
            </div>
    
            <div class="radiobg">
                <label class="radio">
                  <span class="sr-only">Checkbox</span>
                  <input type="radio" class="radio__input" name="example">
                  <span class="radio__checkmark"></span>
                </label>
                <label class="radio">
                  <span class="sr-only">Checkbox</span>
                  <input type="radio" class="radio__input" name="example" checked="">
                  <span class="radio__checkmark"></span>
                </label>
            </div>
    
    
            <div class="togglebx">
                <label class="labelt">
                  <div class="con">
                      <input class="switch" type="checkbox" name="check" value="check">
                      <div class="toggle"></div>
                  </div>
                </label>
                <label class="labelt">
                  <div class="con">
                      <input class="switch" type="checkbox" name="check" value="check" checked>
                      <div class="toggle"></div>
                  </div>
                </label>
            </div>
    
    
    
            <div class="progress">
                <div class="skill">
                  <div class="therm outer-therm vertical" 
                  style="width:50px;height:150px;background-color:#eeeff2">
                   <div class="therm inner-therm vertical" style="background-color:#1656f0; height: 50%; width: 50px;">
                   </div>
                  </div>
                </div>
              
              
                <div class="skill">
                  <div class="therm outer-therm vertical" 
                  style="width:50px;height:200px;background-color:#eeeff2">
                   <div class="therm inner-therm vertical" style="background-color:#1656f0; height: 80%; width: 50px;">
                     
                   </div>
                  </div>
                </div>
              
              
                <div class="skill">
                  <div class="therm outer-therm vertical" 
                  style="width:50px;height:108px;background-color:#eeeff2">
                   <div class="therm inner-therm vertical" style="background-color:#1656f0; height: 55%; width: 50px;">
                      
                   </div>
                  </div>
                </div>
                <div class="skill">
                  <div class="therm outer-therm vertical" 
                  style="width:50px;height:216px;background-color:#eeeff2">
                   <div class="therm inner-therm vertical" style="background-color:#1656f0; height: 80%; width: 50px;">
                      
                   </div>
                  </div>
              </div>
              
              
              <div class="skill">
                <div class="therm outer-therm vertical" 
                style="width:50px;height:150px;background-color:#eeeff2">
                 <div class="therm inner-therm vertical" style="background-color:#1656f0; height: 65%; width: 50px;">
                    
                 </div>
                </div>
              </div>
            </div>
    
    
            
        </div>
    
    
        
        <div class="box2">
          <div class="searchbx">
            <div class="field">
              <span class="fas fa-search" aria-hidden="true"></span>
              <input type="search" placeholder="search">
            </div>
          </div>
        </div>
    
    
         
    
        
        -->
       
    
       <script>
         document.oncontextmenu = new Function("return false;");
      //      $(window).on('load', function() { // makes sure the whole site is loaded 
      //        $('#status').fadeOut(); // will first fade out the loading animation 
      //        $('#preloader').delay(850).fadeOut('slow'); // will fade out the white DIV that covers the website. 
      //        $('body').delay(850).css({'overflow':'visible'});
      //      })</script> <script>
      //     /* ---------------------------------------------
      //      scroll body to 0px on click
      //   --------------------------------------------- */
      //   $('#back-top a').on("click", function () {
      //      $('body,html').animate({
      //          scrollTop: 0
      //      }, 1000);
      //      return false;
      //  });
       </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

       <script>
        //progress bar // 
       $('.neumorphic-slider__thumb').on('mousedown', function(){
         $(document).on('mousemove.mm', function(e){
           var new_value = 0;
           if (e.clientX < $('.neumorphic-slider').offset().left) {
             new_value = '0%';
           } else if (e.clientX > $('.neumorphic-slider').offset().left + $('.neumorphic-slider').width() - 10) {
             new_value = '100%';
           } else {
             new_value = ((e.clientX - $('.neumorphic-slider').offset().left) / ($('.neumorphic-slider').width() - 10) * 100).toFixed(0) + '%';
           }
           document.documentElement.style.setProperty('--value', new_value);
           $('.neumorphic-slider__popover').text(new_value);
         });
         $(document).on('mouseup.mu', function(){
           $(document).off('mousemove.mm');
           $('.neumorphic-slider__thumb').off('mouseup.mu');
         });
       }); 
        
  $(".m_button").click(function() {
    $('body').toggleClass("active");
  });
 
   
       </script>
       
   
   
   
   
</body>
</html>
